.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background: #292929;
  padding: 20px 30px 30px 30px;
}

.button-container {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
}

.search-container {
  margin-bottom: 30px;
}

.search-container h1 {
  margin-top: 5px;
  margin-bottom: 20px;
  color: #BEBEBE;
  font-size: 15px;
  font-weight: normal;
}

.no-posts {
  color: #fff;
}
